/* body color */
$body-color-1: #0F1123;
$body-color-2: #0A0119;

/* color for paragraph */
$clr-light: #eeeeee85;
$main-color:#00ADB5;
$clr-dark: #222222;

/* fonts */
$main-font:'Montserrat', sans-serif;